html {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #e5e5e5;
}

/* Join Page CSS */

.login-container {
  margin: auto;
  height: 430px;
  width: 350px;
  border-radius: 25px;
  background-color: #007aff;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-logo {
  height: 120px;
  margin: 40px 102.5px 30px 102.5px;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  align-items: center;
}

.login-form div input {
  height: 30px;
  border: none;
  color: #7a7a7a;
  background-color: white;
  border-radius: 3px;
  padding-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  font-family: cursive;
}

.login-form div input:focus {
  outline: none;
}

.login-form div label {
  font-weight: bold;
}

.login-form div {
  display: flex;
  flex-direction: column;
}

.login-form button {
  width: fit-content;
  padding: 10px 25px 10px 25px;
  font-size: initial;
  margin-top: 15px;
  font-weight: 600;
  background: none;
  color: white;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.login-form button:hover {
  width: fit-content;
  padding: 10px 25px 10px 25px;
  font-size: initial;
  margin-top: 15px;
  font-weight: 600;
  background-color: white;
  color: #007aff;
  border: 2px solid;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}
